@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-primary {
    /* background: linear-gradient(#0cf, #08657c); */
    background: linear-gradient(#cfc205 40%, #f16d01 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-primary {
    background: linear-gradient(120deg, #cfc205, #f16d01);
  }

  .bg-main {
    background: radial-gradient(#282c34, #282c34);
  }

  .text-hoverable:hover {
    text-shadow: 0px 0px 15px #f16d01, 0px 0px 25px #f16d01;
  }

  .box-hoverable:hover {
    box-shadow: 0px 0px 15px #f16d01, 0px 0px 25px #f16d01;
  }

  .dir-rtl {
    direction: rtl !important;
  }

  .dir-ltr {
    direction: ltr !important;
  }

  .children-dir-ltr * {
    direction: ltr !important;
  }

  .children-dir-rtl * {
    direction: rtl !important;
  }

  .slow-transition {
    transition: all 400ms ease-in-out;
  }

  .normal-transition {
    transition: all 250ms ease-in-out;
  }

  .fast-transition {
    transition: all 150ms ease-in-out;
  }
}

*:not(.dir-ltr) {
  direction: rtl !important;
}

.navbar-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 10px;
  scale: 0 1;
  transition: all 150ms ease-in-out;
}

.navbar-link:hover::after {
  scale: 1 1;
}

.navbar-acitve-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.main-content-section {
  height: calc(100vh - 60px);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e46600;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b45405;
}

@font-face {
  font-family: "BYekan";
  src: url("./fonts/BYekan/BYekan-webfont.woff") format("woff"),
    url("./fonts/BYekan/BYekan-webfont.ttf") format("truetype");
}

.primary-font {
  font-family: "BYekan" !important;
}


.hover-shadow {
  transition: all 150ms ease-in-out;
}

.hover-shadow:hover {
  filter: drop-shadow(0 0 10px #666);
}


.appear {
  opacity: 0;
  translate: 0 -10px;
  animation: appear 400ms ease-in-out 120ms forwards;
  /* transition: all 300ms ease-in-out; */
}

@keyframes appear {
  from {
    opacity: 0;
    translate: 0 -50px;
  }

  to {
    opacity: 1;
    translate: 0;
  }
}
