@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-primary {
    background: linear-gradient(#cfc205 40%, #f16d01 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-primary {
    background: linear-gradient(120deg, #cfc205, #f16d01);
  }

  .bg-main {
    background: radial-gradient(#282c34, #282c34);
  }

  .text-hoverable:hover {
    text-shadow: 0px 0px 15px #f16d01, 0px 0px 25px #f16d01;
  }

  .box-hoverable:hover {
    box-shadow: 0px 0px 15px #f16d01, 0px 0px 25px #f16d01;
  }

  .dir-rtl {
    direction: rtl !important;
  }

  .dir-ltr {
    direction: ltr !important;
  }

  .children-dir-ltr * {
    direction: ltr !important;
  }

  .children-dir-rtl * {
    direction: rtl !important;
  }

  .slow-transition {
    transition: all 400ms ease-in-out;
  }

  .normal-transition {
    transition: all 250ms ease-in-out;
  }

  .fast-transition {
    transition: all 150ms ease-in-out;
  }
}

*:not(.dir-ltr) {
  direction: rtl !important;
}

.navbar-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 10px;
  scale: 0 1;
  transform-origin: right;
  transition: all 150ms ease-in-out;
}

.navbar-link:hover::after {
  scale: 1 1;
}

.navbar-acitve-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.main-content-section {
  height: calc(100vh - 70px);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e46600;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b45405;
}

@font-face {
  font-family: "BYekan";
  src: url("./fonts/BYekan/BYekan-webfont.woff") format("woff"),
    url("./fonts/BYekan/BYekan-webfont.ttf") format("truetype");
}

.primary-font {
  font-family: "BYekan" !important;
}


.hover-shadow {
  transition: all 150ms ease-in-out;
}

.hover-shadow:hover {
  filter: drop-shadow(0 0 10px #666);
}

.top-appear {
  opacity: 0;
  translate: 0 -20px;
  animation: top-appear 400ms ease-in-out 120ms forwards;
}

@keyframes top-appear {
  from {
    opacity: 0;
    translate: 0 -20px;
  }

  to {
    opacity: 1;
    translate: 0;
  }
}

.bottom-appear {
  opacity: 0;
  translate: 0 20px;
  animation: bottom-appear 400ms ease-in-out 120ms forwards;
}

@keyframes bottom-appear {
  from {
    opacity: 0;
    translate: 0 20px;
  }

  to {
    opacity: 1;
    translate: 0;
  }
}

.left-appear {
  opacity: 0;
  translate: -20px 0;
  animation: left-appear 400ms ease-in-out 120ms forwards;
}

@keyframes left-appear  {
  from {
    opacity: 0;
    translate: -20px 0;
  }

  to {
    opacity: 1;
    translate: 0;
  }
}

.right-appear {
  opacity: 0;
  translate: 20px 0;
  animation: right-appear 400ms ease-in-out 120ms forwards;
}

@keyframes right-appear  {
  from {
    opacity: 0;
    translate: 20px 0;
  }

  to {
    opacity: 1;
    translate: 0;
  }
}

.divider {
  width: 100%;
  height: 1.5px;
  border-radius: 100px;
  background-color: white;
}

.red-btn {
  background: linear-gradient(120deg, #bd1600, #e60000);
}

.red-btn:hover {
  box-shadow: 0px 0px 15px #830f00, 0px 0px 25px #bd1600;

}

.yellow-btn {
  background: linear-gradient(120deg, #cfc205, #f16d01);
}

.yellow-btn:hover {
  box-shadow: 0px 0px 15px #f16d01, 0px 0px 25px #f16d01;
}

.green-btn {
  background: linear-gradient(120deg, #2cc206, #25910a);
}

.green-btn:hover {
  box-shadow: 0px 0px 15px #25910a, 0px 0px 25px #25910a;
}

.blue-btn {
  background: linear-gradient(120deg, #0fa6cc, #1289a7);
}

.blue-btn:hover {
  box-shadow: 0px 0px 15px #1289a7, 0px 0px 25px #1289a7;
}

/* Override styles */
.swal-text {
  text-align: center;
}

.hidden-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  scale: 1 0;
  background-color: #282c34da;
  transition: all 200ms ease-in-out;
  transform-origin: bottom;
}

.image-container:hover .hidden-card {
  opacity: 1;
  scale: 1 1;
}

/* Start swiper slide */
.swiper-button-prev, .swiper-button-next {
  color: white !important;
  scale: 0.5;
}

.swiper-pagination-bullet {
  background: transparent !important;
  border: 2px solid white;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: white !important;
  scale: 1.25;
}
/* End swiper slide */

.favorite-icon {
  transition: all 200ms ease-in-out;
  opacity: 0;
  scale: 0;
}

.favorite-icon.active {
  opacity: 1;
  scale: 1;
}